# 0 Notes

**Análise**
- Teremos 7 dias com descontos progressivos, onde no primeiro dia, o desconto base é 10% e no último dia o desconto base é 70%
- Esse desconto base vai valer todos os dias, independente do número de vendas
- Porém, esse desconto vai começar a crescer caso o número de pedidos ultrapasse um baseline. Esse baseline é 1k para o primeiro dia, e vai crescendo de mil em mil ao longo dos dias, até chegar em 7k no último dia. 
- A partir dessas quantidades bases de pedidos, a cada 100 novos pedidos, serão acrescidos 1% no desconto base diariamente

**Implicações**
- Não tem limite de desconto
- Receberemos uma previsão de pedidos do time de dados, por cada dia de promoção
- Devemos projetar o total de desconto máximo aplicado naquele dia e o desconto médio

**Processo**
1. Vamos criar um iterador, que vai receber inicialmente o valor 1000 e 10%, em duas variáveis. Esse iterador vai ser comparado com a coluna de previsão de pedidos, onde, caso ele seja menor ou igual, ele vai receber o valor dentro do iterador de desconto. 
2. Caso ele seja maior, vamos isolar em uma variável o valor da projeção - valor base. Depois, vamos dividir o valor dentro dessa variável por 100 e vamos arredondar para baixo. Com isso, teremos o valor em acréscimo. Depois, vamos dividir somar esse valor com o valor de desconto base e vamos salvar na linha que representa a quantidade de dias.
3. Para cada iteração, vamos somar 10% na variável desconto e 1000 na variável e ir repetindo o processo.

# 1. Imports

In [3]:
import pandas as pd

# 2. Problem Solving

In [10]:
# Days number and sales prediction
days = [1, 2, 3, 4, 5, 6, 7]
sales_pred = [400, 100, 3650, 4010, 4900, 7650, 9500]

# Creating DataFrame
df1 = pd.DataFrame([days, sales_pred]).T
df1.rename(columns={0: 'day', 1:'sales_prediction'}, inplace=True)
df1.head()

   day  sales_prediction
0    1               400
1    2               100
2    3              3650
3    4              4010
4    5              4900

In [ ]:
df1['discount'] = df1.apply(lambda x: if x['sales_prediction'] < x['day'] * 1000, )

In [23]:
for index, row in df1.iterrows():
    discount_base = 0.1
    orders_base = 1000
    
    if row['sales_prediction'] < orders_base:
        print(discount_base)
        
    else:
        print(None)

0.1
0.1
None
None
None
None
None

In [22]:
df1

   day  sales_prediction  discount
0    1               400      1000
1    2               100      1000
2    3              3650      1000
3    4              4010      1000
4    5              4900      1000
5    6              7650      1000
6    7              9500      1000